<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
<div class="mx-auto max-w-screen-xl  mt-4 px-4 2xl:px-0 border rounded-md  shadow border-gray-200 dark:border-gray-700">

  <table class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 capitalize bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="h-16 bg-slate-50">
        <th scope="col" class="px-6 py-3">Order No</th>
        <th scope="col" class="px-6 py-3">Order Date</th>
        <th scope="col" class="px-6 py-3">Total price</th>
        <th scope="col" class="px-6 py-3">Payment Method</th>
        <th scope="col" class="px-6 py-3">
          <span>Actions</span>
        </th>
      </tr>
    </thead>
    @if(paginatedOrders.length > 0){
    <tbody>
      <!-- Loader -->
      <tr *ngIf="isLoading">
        <td colspan="5" class="text-center py-4">
          <div class="loader">
            <div class="text-center">
            <div role="status">
           
                <span class="sr-only">Loading...</span>
            </div>
        </div></div>
          <!-- You can replace the above line with a spinner or any loading animation -->
        </td>
      </tr>
  
      <!-- Orders -->
      <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="paginatedOrders.length > 0; else noOrders">
          @for (order of (paginatedOrders| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: 130 }); track order.OrderId; ) {
          <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" [routerLink]="['/details', order.OrderId]" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ order.OrderId }}
            </th>
            <td class="px-6 py-4">{{ DateConvert }}</td>
            <td class="px-6 py-4">${{ order.Total| number:'1.2-2' }}</td>
            <td class="px-6 py-4">{{ order.PaymentType }}</td>
            <td class="px-6 py-4 ">
              <a class="font-medium text-blue-600 inline-flex  dark:text-blue-500 hover:underline " [routerLink]="['details/', order.OrderId]">
                <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                  <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
                 <span class="mx-1">Details</span>
                </a>
            </td>
          </tr>}
        </ng-container>
        <ng-template #noOrders>
          <tr>
            <td colspan="5" class="text-center py-4">No orders available.</td>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>
  }@else
    {

      <p>No orders available.</p>


  }

  </table>
  <!--------------------pagination----------->

          <div class="w-full text-center">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </div>


</div>



