<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
<article class="mx-auto max-w-screen-xl px-4 2xl:px-0 border rounded-md  shadow border-gray-200 dark:border-gray-700">
    <table class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 capitalize bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">User Name</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3"> Phone</th>
                <th scope="col" class="px-6 py-3"> Address</th>
                <th scope="col" class="px-6 py-3">
                    registered Date
                </th>
            </tr>
        </thead>
        <tbody>

            @for (user of (paginatedUsers| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }); track user.Id; ) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ user.Name }}
                </th>
                <td class="px-6 py-4">{{ user.Email }}</td>
                <td class="px-6 py-4">{{ user.Phone }}</td>
                <td class="px-6 py-4">

                    <div class="relative group">
                        <span class=" px-4 py-2 rounded">
                            {{ user.Address.length > 15 ? (user.Address | slice:0:22) + '...' : user.Address }}
                        </span>
                        <div
                            class="absolute left-1/2 z-[9999] transform -translate-x-1/2 mt-2 w-48 bg-gray-800 text-white text-sm rounded-lg p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            {{user.Address}}
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4">{{ user.RegisterDate |date:'medium' }}</td>



            </tr>
            }
        </tbody>
    </table>
    <div class="w-full text-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
</article>

</section>